*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jc-end{
    justify-content: flex-end;
    display: flex;
    background-color: black;
    padding-bottom:40px ;
}
.head-menu{
    padding: 10px;
    border-radius: 6px;
    background-color: gray;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 5px;

}
.inline-block img{
    display: inline-block;
    width:calc(100% / 7 - 4px); 
    background-color: black; 
    align-items: center;
}
.container{
    background-color: black;
    padding: 30px;
    text-align: center;
}

