*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
}
.jc-end{
    justify-content: flex-end;
    display: flex;
    background-color: black;
    padding-bottom:90px;
    margin-top:-30px ;
}
.head-menu{
    padding: 10px;
    border-radius: 6px;
    background-color: gray;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 5px;

}
.container{
    
    background-color: black;
    padding: 30px;
    color: white;
    background-size: cover;
    text-align: center;
}
.relative{
    position: relative;
    display: inline;
}
.absolute{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 8px;
}

img{
    height:130px;
    width:calc(100% / 7 - 20px);
}
.nav {
    justify-content: space-between;
    display: flex;
    background-color:#222222; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav li a{
    display: inline-block;
    font-size: 15px;
    padding: 20px;
  }
.exit{
    background-color:#4A4A4A;
}
.red-exit{
    color: red;
}
i{
    color: white;
}
a{
    color:white;
}
.green{
    color: green;
}