*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jc-end{
    justify-content: flex-end;
    display: flex;
    background-color: black;
    padding-bottom:40px ;
}
.head-menu{
    padding: 10px;
    border-radius: 6px;
    background-color: gray;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 5px;

}
/* .inline-block img{
    display: inline-block;
    width:calc(100% / 7 - 10px); 
    background-color: black; 
    align-items: center;
} */
.container{
    height: 100vh;
    background-color: black;
    padding: 30px;
    color: white;
    background-size: cover;
    text-align: center;
}
/* .box img{
    display: inline;
    width:calc(100% / 7); 
} */

.relative{
    position: relative;
    display: inline;
}
.absolute{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 8px;
}

img{
    height:130px;
    width:calc(100% / 7 - 20px);
}


